[2019-01-31 08:59] TsvikaKuflik opened #1 "Repeated transcription"
When I start a new session after transcribing a line, I am getting the same line again

[2019-01-31 09:01] TsvikaKuflik opened #2 "Page rendering"
During transcriptions, At a certain point a page appeared very small, when I enlarged it there was no line marked

[2019-01-31 10:42] uschor opened #3 "NPE on page reload"
HTTP Status 500 – Internal Server Error

Type Exception Report

Description The server encountered an unexpected condition that prevented it from fulfilling the request.

Exception

java.lang.NullPointerException
	il.haifa.ac.dh.tikkounsofrim.transcribe.TranscribeServlet.doPost(TranscribeServlet.java:128)
	javax.servlet.http.HttpServlet.service(HttpServlet.java:660)
	javax.servlet.http.HttpServlet

[2019-01-31 14:51] uschor opened #4 "Gracefully handle session expiry"

[2019-02-03 11:32] TsvikaKuflik opened #5 "logging out"
After logout, I get the thank you message, but the tab logout still exists (should be replaced by login?)

[2019-02-03 11:33] TsvikaKuflik opened #6 "full screen"
When I am not using full screen, things get messed up

[2019-02-03 11:35] TsvikaKuflik opened #7 "full screen"
When I do not use the full screen, if the screen is too small, things get messed up

[2019-02-03 13:38] TsvikaKuflik opened #8 "[MEDIUM] getting to the same line at the same page on login"
Whenever I login, I get to the same page, is that intentional? I though we randomly get different lines

[2019-02-03 19:53] TsvikaKuflik opened #9 "Info pages"
Besides the "page" tab, other tabs contain some Hebrew and Gibrish or nothing

[2019-02-03 20:01] TsvikaKuflik opened #10 "welcome message missing"

[2019-02-03 20:05] TsvikaKuflik opened #11 "The small help - past transcriptions window"
When a line has been transcribed already, a small window opens on th eright side under the line with past transcriptions. However, it does not seem to present the right information - sometimes it does, sometime not (but it is a great idea)

[2019-02-04 13:13] uschor opened #12 "Leaflet viewer sometimes opens tiny"
Seems to reproduce when opening in private mode in Firefox

[2019-02-04 13:23] TsvikaKuflik opened #13 "Server Error"
When I tried to login with Firefox, with my email as username and t as password (having one opera window open and one chrome open) I got the following:
![image](https://user-images.githubusercontent.com/47208723/52210839-ce1e3a80-2890-11e9-86ff-8a1395818919.png)

[2019-02-04 13:27] MosheLavee opened #14 "Banner area is too wide. Consider merger of two banners ?"

[2019-02-04 13:35] MosheLavee opened #15 "Access to Data base"

[2019-02-06 15:29] MosheLavee opened #16 "Links and styles in Help"
@drore
The links and styling (bullet points) in the Help are missing in the Engilsh, and also when I put now the Hebrew I did it without them. We should updated both files of helps according to the google drive file 'Background content trilingual'.

[2019-02-06 16:04] MosheLavee opened #17 "Few issues in the marked.jspf file"
@drore @ajwecker
When inserting the Hebrew translations to TS1218/WebContent/WEB-INF/views/parts/HE/transcribe/marked.jspf
I noticed few issues:
1) Some images are missing - see the google file. This should be fixed both in the English and Hebrew version.
2) We use < > in the text. This might cause a confution to the editor.
3) dots, colons and other markers in the end of the Hebrew text jump to t

[2019-02-06 16:24] ajwecker commented on #17
use &gt; and &lt;

On Wed, Feb 6, 2019, 11:04 AM MosheLavee <notifications@github.com wrote:

[2019-02-06 21:06] uschor commented on #3
fixed

[2019-02-06 21:06] #3 closed

[2019-02-07 09:21] TsvikaKuflik opened #18 "[LOW] invisible skip/fixed buttons and the actual page"
![image](https://user-images.githubusercontent.com/47208723/52401496-766b1380-2aca-11e9-819c-790fc247c89e.png)

[2019-02-07 09:51] TsvikaKuflik opened #19 "Pressing the what is htr tab causes the server to crash"
https://tikkoun-sofrim.haifa.ac.il/TS1218
![image](https://user-images.githubusercontent.com/47208723/52403142-b633fa00-2ace-11e9-8083-7a87ff154ba9.png)

[2019-02-07 11:32] MosheLavee opened #20 "mixed hovers - damaged uncertain"
the hovers over the damaged and uncertain buttons are mixed. @drore @ajwecker @uschor who will be the first to fix ?

[2019-02-07 12:00] MosheLavee opened #21 "[MEDIUM] defected images of letters"
The images of some letters in the אבג tab are spread and not clear: י ס ו are especially in bad shape, but also other letters.
It seems that the letters were cut by a snipping tool with different resolution. @veredrk @drore can you fix this between the two of you ?

[2019-02-07 13:14] uschor opened #22 "bad apostrophes in http://tikkoun-sofrim.haifa.ac.il/TS1218/LoginServlet?page=views/team.jsp"
Probably non-unicode encoding of file

[2019-02-07 15:12] ajwecker commented on #20
I can take care of this

On Thu, Feb 7, 2019, 1:32 PM MosheLavee <notifications@github.com wrote:

[2019-02-07 16:35] TsvikaKuflik opened #23 "playing with the languages and then trying to start correcting the line for correction disspeared"
![image](https://user-images.githubusercontent.com/47208723/52426685-15adfc00-2b07-11e9-97f3-b213f2e485d7.png)

[2019-02-07 22:56] ajwecker opened #24 "Problem with <img tags not closed in hebrew marked.pdf"
The file had a few <img tags with no endings causing confusion and errors.
Please fix and load again.
I also added a line to ensure UTF-8

[2019-02-07 23:22] #7 closed

[2019-02-07 23:22] ajwecker commented on #7
Duplicate of #6

[2019-02-07 23:24] ajwecker commented on #1
Same as #8

[2019-02-07 23:24] #1 closed

[2019-02-07 23:26] ajwecker commented on #22
Not clear which file i problem navigation.jspf or team.jsp?

[2019-02-07 23:27] ajwecker opened #25 "[MEDIUM] Hovers need translation"

[2019-02-07 23:27] ajwecker commented on #25
this is the text on the title attribute

[2019-02-07 23:28] ajwecker commented on #25
This includes the short description of the Geneva manuscript

[2019-02-07 23:47] ajwecker opened #26 "Add Dror to team"

[2019-02-08 05:16] TsvikaKuflik opened #27 "[HIGH] Scrolling logos and page image"
I used Opera browser and logged in to the hebrew version.
The page image appeared as a small icon (already seen that in the past).
The logos are taking a large chunk of the screen and they are fixe and as a result, I could not see the done/skip buttons. Without knowing that they should be there, I would not have scrolled ...
Why are the logos fixed in that way?
![image](https://user-images.githubu

[2019-02-08 05:20] TsvikaKuflik opened #28 "only hebrew is available - when I change language I am logged out"
When I login to the system, I get the Hebrew page and when I tried to change laguage I was directed again to the Hebrew Login page . I used Chrome

[2019-02-08 08:22] dstoekl opened #29 "tanhuma page not multilingual"
The following page probably needs to be moved into the trilingual part
TS1218/WebContent/WEB-INF/views/tanhuma.jsp

[2019-02-08 09:19] dstoekl opened #30 "add HTR page"
Please add English page on HTR  from gdoc

[2019-02-08 09:22] ajwecker commented on #30
the htr should be multilingual.  it includes an htr.jspf which is separate
for each language

On Fri, Feb 8, 2019, 11:19 AM dstoekl <notifications@github.com wrote:

[2019-02-08 09:22] dstoekl opened #31 "please move page אודות הפרויקט to the multilingual content directories"
to be able to create French and Hebrew versions

[2019-02-08 09:24] dstoekl commented on #30
but in order to create translations all these multilingual pages need to be in the EN/FR/HE subdirectories

________________________________
De : ajwecker <notifications@github.com>
Envoyé : vendredi 8 février 2019 10:22
À : ajwecker/TS1218
Cc : Daniel Stoekl; Author
Objet : Re: [ajwecker/TS1218] add HTR page (#30)

the htr should be multilingual. it includes an htr.jspf which is separate
for each

[2019-02-08 09:36] ajwecker commented on #30
Agree.
Not sure who did this before and what was the process

On Fri, Feb 8, 2019, 11:24 AM dstoekl <notifications@github.com wrote:

[2019-02-08 09:45] uschor commented on #22
team.jsp, at the bottom, I think. I can handle it.

On Fri, Feb 8, 2019 at 1:26 AM ajwecker <notifications@github.com> wrote:

[2019-02-08 11:19] dstoekl commented on #30
I see the HTR page in the directory but it is not yet linked to the website interface.

[2019-02-08 11:46] dstoekl opened #33 "Hebrew translation of HTR explanation"
Could a mothertongue speaker pls check my Hebrew translation of the explanations for HTR on the gdoc?

[2019-02-08 15:14] dstoekl opened #34 "RTL in French"
punctuation marks such as . or " at the end of the lines in FR are put at the left end instead of the right end, i.e. here https://tikkoun-sofrim.haifa.ac.il/TS1218/TranscribeServlet all phrases above and below line image and automatic transcription

[2019-02-09 14:19] TsvikaKuflik opened #35 "Line / page segmentation"
The page / line segemnter cuts the end of a letter:
![image](https://user-images.githubusercontent.com/47208723/52521849-584a1280-2c86-11e9-8f6b-7d2585beeb7a.png)

[2019-02-09 14:29] TsvikaKuflik opened #36 "Typo in the French page (?) and some other issues with content"
In the Frernch page "who we are"

Beam
(Alphabetical order)

There is no Hebrew content in "who we are" and the links lead to the English content for the about and Tanhuma

[2019-02-09 15:09] dstoekl commented on #35
yes. it comes from the difficult binarization. Uri, can you simply deduce 50 pixels from the x1 column?

[2019-02-09 15:10] dstoekl commented on #36
remaining French will be dealt with by Lily tomorrow. I have just added the French to this page on github. Needs to be uploaded however.

[2019-02-09 21:35] dstoekl opened #37 "Tanhuma page missing for all languages"
https://tikkoun-sofrim.haifa.ac.il/TS1218/LoginServlet?page=views/tanhuma.jsp

[2019-02-09 21:42] dstoekl opened #38 "apostroph problem in titles"
@drore @urischor
All French titles on mouseover one of the buttons below the transcription window end abruptly in the middle of the string
main.work_area.hovers.over_additions should be
Signaler un ajout. Besoin d'aide ? R\u00E9f\u00E9rez-vous \u00E0 l'onglet "Marquage \u00E9ditorial" sur la gauche.
But it is only
Signaler un ajout. Besoin d'

[2019-02-09 21:43] dstoekl opened #39 "Page 9 / 590, Line 9 / 18"
gives an empty transcription manuscript line image
![image](https://user-images.githubusercontent.com/39535215/52526653-22c01c00-2cbc-11e9-9644-3b1883b29056.png)

[2019-02-09 21:47] dstoekl opened #40 "there are no button texts for the translations of increase, decrease and font size"
in https://github.com/ajwecker/TS1218/tree/master/TS1218/src
in no language, not even in English as far as I can see
![image](https://user-images.githubusercontent.com/39535215/52526678-93ffcf00-2cbc-11e9-8bf8-8fa5def72fc9.png)

[2019-02-09 21:49] dstoekl opened #41 "could we choose different colors for the "done" and "skip" buttons?"
They are in opposite places in LTR and RTL and at least I do need a color hint what to press. I would suggest green for "done" and yellow for "skip".
What does the system do when one hits return? Does it behave as if one has hit the "done" button or the "skip" button?

[2019-02-09 21:52] ajwecker commented on #40
This working as designed since the text is hebrew. Maybe remove px
I would prefer symbols for all the button
half circle with arrow for reset (-) [+] {?} <~>

On Sat, Feb 9, 2019, 11:47 PM dstoekl <notifications@github.com wrote:

[2019-02-09 21:55] dstoekl commented on #40
But we do have titles showing and they are in English even if the language is set to French

[2019-02-09 21:58] dstoekl opened #42 "need to translate the title for the manuscripts"
we need to add French and English for the title shown when mouseover manuscript name. where is it in the code please? We should include thanks to the library here and also the licence!
![image](https://user-images.githubusercontent.com/39535215/52526760-33719180-2cbe-11e9-912d-4966c40f5a83.png)

[2019-02-09 21:59] ajwecker commented on #40
Titles indeed need msg texts
Advantage of symbols is that you dont need separate pictures for tutorials

On Sat, Feb 9, 2019, 11:55 PM dstoekl <notifications@github.com wrote:

[2019-02-09 22:04] ajwecker commented on #42
this is stored with manuscript data.
Send me the hebrew and french translations and I will plant.
does the manuscript name need to be translated

On Sat, Feb 9, 2019, 11:58 PM dstoekl <notifications@github.com wrote:

[2019-02-09 22:05] ajwecker commented on #42
regarding attribution text send me three versions

On Sat, Feb 9, 2019, 11:58 PM dstoekl <notifications@github.com wrote:

[2019-02-09 22:15] dstoekl commented on #42
Please add the following to the English version:
Genève, Bibliothèque  de Genève, Comites Latentes 146: Midrash Tanhuma  (Leviticus-Numbers-Deuteronomy)  (http://www.e-codices.unifr.ch/en/list/one/bge/cl0146).
Images CC-BY-NC 4.0

and please include the link in the title under the "CC-BY-NC 4.0": https://creativecommons.org/licenses/by-nc/4.0/

[2019-02-09 22:20] dstoekl commented on #42
French version picked from
http://www.e-codices.unifr.ch/fr/list/one/bge/cl0146/
Il s’agit de l’un des plus anciens exemplaires manuscrits de la version du texte de la Tanhuma midrash, connu parmi les savants comme le "printed text" (première édition imprimée à Constantinople, 1520-22), et qui se distingue de la version éditée et imprimée pour la première fois en 1885, par Solomon Buber à Vilnius.

[2019-02-09 22:20] dstoekl commented on #42
@veredrk could you please translate this into Hebrew?

[2019-02-09 22:55] dstoekl opened #43 "superfluous "text" in header of editing symbols"
concerns all 3 languages. I mean this thing:
![image](https://user-images.githubusercontent.com/39535215/52527264-13de6700-2cc6-11e9-9828-b095255e7441.png)
![image](https://user-images.githubusercontent.com/39535215/52527268-1d67cf00-2cc6-11e9-8054-b6b363748cfc.png)
![image](https://user-images.githubusercontent.com/39535215/52527272-26f13700-2cc6-11e9-9b2f-97f2db6e41f3.png)

[2019-02-09 23:01] ajwecker commented on #38
apsotrophe's need to be &#39; also &quot; should be used to avaoid problems

On Sat, Feb 9, 2019 at 11:42 PM dstoekl <notifications@github.com> wrote:

--
*Alan J. Wecker,* PhD.(U of Haifa), Dottore di Ricerca (U of Trento)
*Postdoc, Information Systems, Education  Departments, University of Haifa,
Israel*
Senior ACM Member

[2019-02-09 23:19] dstoekl commented on #38
ok done. thx. the tchekoslovakian converter did not indicate this.

[2019-02-10 00:03] ajwecker commented on #18
Dror is this closed?

[2019-02-10 00:03] #19 closed

[2019-02-10 00:04] #20 closed

[2019-02-10 00:06] ajwecker commented on #21
Also alphabet shouldn't have horizontal scroll

[2019-02-10 00:07] ajwecker commented on #22
use &#39;

[2019-02-10 00:08] ajwecker commented on #23
Is this fixed in latest versions

[2019-02-10 00:09] ajwecker commented on #24
fixed but not sure if I removed necessary images

[2019-02-10 00:09] #24 closed

[2019-02-10 00:10] ajwecker commented on #26
team.jspf that is

[2019-02-10 00:11] ajwecker commented on #27
lower priority

[2019-02-10 00:12] ajwecker commented on #28
Should be fixed

[2019-02-10 00:12] #28 closed

[2019-02-10 00:13] ajwecker commented on #29
fixed tanhuma page is now called midrash.jsp

[2019-02-10 00:13] #29 closed

[2019-02-10 00:13] ajwecker commented on #30
fixed

[2019-02-10 00:13] #30 closed

[2019-02-10 00:14] #31 closed

[2019-02-10 00:16] #37 closed

[2019-02-10 00:20] ajwecker commented on #41
Colors done!
None of the 2 buttons have focus on start so return does nothing until buttons are tabbed to.
I don't think any of theses 2 button should have focus (transcription line has it and I think correct

[2019-02-10 00:20] #41 closed

[2019-02-10 00:23] #43 closed

[2019-02-10 00:27] #9 closed

[2019-02-10 00:28] #10 closed

[2019-02-10 00:29] ajwecker commented on #11
Feature of input filed in html, I think there is a way to prevent this

[2019-02-10 00:30] ajwecker commented on #12
Still happens?

[2019-02-10 00:31] ajwecker commented on #13
Still a problem?

[2019-02-10 00:32] ajwecker commented on #14
We could blend in some white
Low priority

[2019-02-10 00:33] ajwecker commented on #15
After release

[2019-02-10 00:34] ajwecker commented on #16
Any updates? Is this fixed

[2019-02-10 01:05] ajwecker commented on #42
@veredrk Also what is the hebrew link for more on this manuscript? (same as
english?)

On Sun, Feb 10, 2019 at 12:20 AM dstoekl <notifications@github.com> wrote:

--
*Alan J. Wecker,* PhD.(U of Haifa), Dottore di Ricerca (U of Trento)
*Postdoc, Information Systems, Education  Departments, University of Haifa,
Israel*
Senior ACM Member

[2019-02-10 02:52] ajwecker commented on #39
Seem okay
Uri the ?m p l interface seems broken in order to check this quickly

[2019-02-10 02:57] ajwecker opened #44 "Logos"
Logos on bottom of transcribe page should only stretch across transcription area and not work page
This will give more of whole page to see
Low Priority

[2019-02-10 05:30] uschor commented on #12
Sure. Wasn't fixed, afaik.

On Sun, Feb 10, 2019, 02:30 ajwecker <notifications@github.com wrote:

[2019-02-10 06:32] MosheLavee commented on #42
@ajwecker @drore where should we put the Hebrew translation ?

כתב יד ז'נבה 146 כולל את מדרש תנחומא לחומשים ויקרא, במדבר ודברים. זהו כתב יד מזרחי מן המאה ה-14, והוא מוצג כאן הודות לרשיון הפתוח של ספריית אוניברסיטת ז'נבה.

[2019-02-10 07:28] MosheLavee opened #45 "[MEDIUM] Letter samples"
The images of the letter samples are not in the same size.

[2019-02-10 07:29] MosheLavee commented on #44
If possible  - when dealing with this also minimize a bit the size of the logos ?

[2019-02-10 07:32] MosheLavee opened #46 "font size button is still there"
@drore @ajwecker please reomve the font size button. We agreed it should be removed.

[2019-02-10 07:43] MosheLavee commented on #25
We missed the hover over the line fillers in the trinligual interface.
I inseted it now in the [trilingual interface table](https://docs.google.com/spreadsheets/d/1J4cXV81P1TFkb5k3O8OjL_lPRzU3Ib2qB92xSOG7xj8/edit#gid=0) -
I also fixed the english 'left' to 'right' according to the new direction of the screen.
@dstoekl please add french translation and fix the french translation in accordances (lin

[2019-02-10 07:50] MosheLavee commented on #25
Hebrew and French overs are also missing of the reduce / increase size of text buttons. I added in the google sheet @dstoekl same same - please add French translations in the google shee (lines 43 - 44) @ajwecker @drore please upload the file after Daniel report that all translations are done.

[2019-02-10 08:55] MosheLavee opened #47 "Unification of titles, subtitles, bolds etc."
Agreed standartization and unification is needed through out all content: tabs, background. To be discussed first between @drore @veredrk me and @ajwecker.

[2019-02-10 08:59] MosheLavee commented on #25
updating: Avigail did the French so @ajwecker or @drore can now push the new table in.

[2019-02-10 09:21] MosheLavee opened #48 "Clean lines of buttons"
![image](https://user-images.githubusercontent.com/6770031/52531934-ac580400-2d25-11e9-83d8-2c2efb9dde00.png)
There are minor white defects to the left of reset and deletion buttons. A minor design adjustment is needed @drore

[2019-02-10 09:57] MosheLavee opened #49 "registration page UI"
@drore fix according to the conversation we had.

[2019-02-10 10:10] #13 closed

[2019-02-10 10:19] dstoekl commented on #26
@drore
what is your name and title?

[2019-02-10 10:22] drore commented on #17
The missing images are in the hebrew version (might be on the fr version as well)

[2019-02-10 10:23] MosheLavee commented on #18
@TsvikaKuflik I had the problem too but now it is fine. can you check now ?

[2019-02-10 10:26] MosheLavee commented on #21
@drore and @veredrk will collaborate to solve letter issues

[2019-02-10 10:27] #22 closed

[2019-02-10 10:27] drore commented on #23
Not reproducible

[2019-02-10 10:27] #23 closed

[2019-02-10 10:39] MosheLavee commented on #33
done, and installed into the html content file.

[2019-02-10 10:39] dstoekl commented on #38
@avigailohali
ATTENTION. For messaging please only use github to keep a trace for EVERYBODY.

apostroph and quotation marks CANNOT be used directly because of JAVAand unicode.

You can put them into the gsheet but please DO NOT put them into the scr file afterwards.

' needs to be replaced by

&#39;

and " needs to be replaced by

&quot;

I had already inserted and corrected some lines yesterday n

[2019-02-10 10:40] MosheLavee commented on #33
@drore @ajwecker need to release the revised Hebrew content files after @veredrk and I finish some minor corrections.

[2019-02-10 10:42] #33 closed

[2019-02-10 10:45] ajwecker commented on #45
Not as table
No horizontal scroll if possible

[2019-02-10 10:50] #40 closed

[2019-02-10 10:51] dstoekl commented on #38
have just updated the French table for the new button texts with the Javaencodings instead of apostroph and quotationmakr and accented letters. please push

[2019-02-10 10:54] drore commented on #12
Duplicate

[2019-02-10 10:54] #12 closed

[2019-02-10 10:55] drore commented on #11
Native behavior - won't fix.

[2019-02-10 10:58] drore commented on #5
Navigate to login.jsp with QS param to show thank you msg

[2019-02-10 10:59] drore commented on #2
Duplicate

[2019-02-10 10:59] #2 closed

[2019-02-10 11:01] dstoekl commented on #35
I have added a new file Geneva_146_all_data_for_Alan05.txt with 150 pixels more to the left to the gdrive. Can you upload it to the database?

[2019-02-10 11:01] drore opened #50 "[MEDIUM] Login content"
Add a sentence above the login form

[2019-02-10 11:03] drore opened #51 "[MEDIUM] Project -> contact us distorted + team"

[2019-02-10 11:04] drore opened #52 "[LOW] Make "help" label bold"
Just wrap with <strong>

[2019-02-10 11:04] dstoekl commented on #25
The French titles are all bound to the right instead of to the left (in paragraph layout).
Should we add <br> after "Besoin d'aide?:"

[2019-02-10 11:07] MosheLavee opened #53 "Remember open tab when switch language"
@ajwecker

[2019-02-10 11:18] dstoekl commented on #26
Dror Elovits is chief digital officer at the e-Lijah lab at the University of Haifa.

[2019-02-10 11:18] #26 closed

[2019-02-10 11:22] dstoekl commented on #36
@avigailohali
Please add Hebrew to https://github.com/ajwecker/TS1218/blob/master/TS1218/WebContent/WEB-INF/views/parts/HE/transcribe/marked.jspf

[2019-02-10 11:24] dstoekl opened #54 "switch place of "skip" and "done" buttons in French and English"
Please switch the place of skip and done buttons because it is more logical to push "done" when one is at the end of the HEBREW RTL line then to go back to the right. Just as in Hebrew.

[2019-02-10 11:28] TsvikaKuflik opened #55 "visibility of skip/done on laptops"
Using a laptop, the Done/Skip buttons are invisible in the French version, partially visible in Emglish and better in Hebrew.
I suggest reducing the spece above the 👍 "Below is an automatic transcription. Please correct all errors in the text box.
This includes correcting misread or missing letters, and redundant or missing spaces." in all languages, to ensure visibility of Skip/Done

[2019-02-10 11:29] dstoekl commented on #55
what is your screenresolution? I do see them on my laptop (1900 px)

[2019-02-10 11:30] TsvikaKuflik opened #56 "It is impossible to use internet explorere..."
Are you aware of this?

[2019-02-10 11:30] dstoekl opened #57 "drop the TS1218 in the URL"

[2019-02-10 11:31] dstoekl commented on #56
I am ok with that. Very few people use IE these days and if I am not mistaken it requires quite some special handling.

[2019-02-10 11:32] TsvikaKuflik commented on #55
Yes,

This has to do with screen size and resolution.

I wonder if we would like to ensure any minimal standard (scrolling id OK, if you know that you need to do that, but it is better to avoid it).

Best,

Tsvika

Tsvi Kuflik, PhD.

 Professor of Information Systems

  Co-chair of the Digital Humanities BSc program,

  Information Systems department,

  The University of Haifa

  Email: tsvikak@i

[2019-02-10 11:32] dstoekl commented on #52
and red?

[2019-02-10 11:42] ajwecker commented on #42
@veredrk  What is the hebrew link for more on this manuscript? (same as english?) (the outside page description)

[2019-02-10 11:44] dstoekl commented on #42
the library gives only European languages. We would have to ssupport Hebrew. I had asked @veredrk  to provide a HEbrew version that needs to be uploaded to our website.

[2019-02-10 11:45] ajwecker commented on #42
I am leaving english link for now

[2019-02-10 11:46] dstoekl commented on #42
ok

[2019-02-10 11:46] #38 closed

[2019-02-10 11:53] veredrk commented on #42
We aleady have a Hebrew text for all manuscripts, in the backgroung  content doc.

[2019-02-10 12:00] ajwecker commented on #42
We need a link to a page on a different website. (similar to English and French). See what happens when you  click on Geneva above the page image

[2019-02-10 12:05] ajwecker commented on #57
Unfortunately we use it 113 times in code.
There is a replacement page.context
But I am afraid of testing issues

[2019-02-10 12:05] #56 closed

[2019-02-10 12:08] ajwecker commented on #54
Are we all okay with this?

[2019-02-10 12:13] avigailohali commented on #36
I corrected 2 errors.
Should the "special signs" part also be in this file?

[2019-02-10 12:13] ajwecker commented on #46
In next release Ilater today) will be out

[2019-02-10 12:13] #46 closed

[2019-02-10 12:14] avigailohali commented on #36
Sorry, just saw that no.

[2019-02-10 12:14] avigailohali commented on #36
Otherwise, I do not understand where is the missing hebrew.

[2019-02-10 12:18] dstoekl commented on #36
If you look at at the files it has been converted into gibbrish. I do not know why. Only happened in this file.

[2019-02-10 12:19] ajwecker commented on #52
I think overkill

On Sun, Feb 10, 2019, 1:32 PM dstoekl <notifications@github.com wrote:

[2019-02-10 12:20] MosheLavee commented on #36
The file looks fine for me - do you see jibrish in the website or in the html? @dstoekl

[2019-02-10 12:20] avigailohali commented on #36
Looks fine to me too...

[2019-02-10 12:24] avigailohali commented on #36
Same thing for the Hebrew "about" page. On GitHub is looks fine, and on website it's in English.

[2019-02-10 12:39] veredrk commented on #45
@drore I uploaded file similar_letters to the google drive wuth all the images:
https://drive.google.com/open?id=1KjfqZo5IawpRy-fFLosow2KjcW8_FisZ

[2019-02-10 13:16] #50 closed

[2019-02-10 13:17] dstoekl commented on #35
@ajwecker
have you updated the linesegmentation in the new version?

[2019-02-10 13:19] ajwecker commented on #35
no

On Sun, Feb 10, 2019, 3:17 PM dstoekl <notifications@github.com wrote:

[2019-02-10 13:22] MosheLavee commented on #12
Still happened 10/2/2019 15:20
![image](https://user-images.githubusercontent.com/6770031/52534230-b4c13680-2d47-11e9-8085-a76f079e91cf.png)

[2019-02-10 13:23] dstoekl opened #58 "IIIF bug"
I just had the following image which shows the correct line on the page image but gives a wrong line cut out. Table properties seem ok to me. So I do not know what happened.
![image](https://user-images.githubusercontent.com/39535215/52534226-45dfdf80-2d3f-11e9-8ebe-b9cb0dbdaa5f.png)

[2019-02-10 13:27] MosheLavee commented on #58
are you still on the page? it seems that the line was opened enlarged  and we see only a certain bit of it - can you check it? @drore can you also look at the issue?

[2019-02-10 13:28] dstoekl commented on #58
no I continued to the next line. I hit enlarge from to time for the page image to see things beyond the end of the line. It would be good if you can upload the new ssegmentation data from the forAlan05.txt file to be on the safe side.

[2019-02-10 13:49] dstoekl commented on #52
help button still not bold on my side

[2019-02-10 13:50] dstoekl commented on #52
(and all the formatting I did on the French files is not updated either)

[2019-02-10 13:52] MosheLavee commented on #52
Same is with the Hebrew, probably Alan will push it all in before the next deployment expected in about an hour from now.

[2019-02-10 16:08] dstoekl opened #59 "buttons"
The previous src files were all in java code not in UTF8 if you check the history.

[2019-02-10 16:24] ajwecker commented on #59
yes but they came from the gdoc and converted

On Sun, Feb 10, 2019, 6:08 PM dstoekl <notifications@github.com wrote:

[2019-02-10 19:03] TsvikaKuflik opened #60 "the image does not load"
suddenly, the image does not load (working now on WiFi)

[2019-02-10 19:07] TsvikaKuflik opened #61 "Hebrew help messed up"
When I try the Help menue or editing mars or special characters, there is an empty screen. when I selec the alphabet, the content appers, now when I change to special characters, the alphabet remains (but goes away when I chnge to help or special chars)

[2019-02-10 19:30] dstoekl commented on #60
no page images  in either French or Hebrew or English

[2019-02-10 19:33] dstoekl opened #62 "left panel stopped working"
in Hebrew none of the left panel switches works except the alphabet.
in French or English they all work (except the full page IIIF server)

[2019-02-10 19:35] dstoekl commented on #34
the problem exists again and now also for English.

[2019-02-10 19:38] dstoekl commented on #36
@avigailohali
Tous les exemples en hébreu sont toujours en jibbrish pour le marquage éditorial. Est-ce que tu pourrais le corriger stp?

[2019-02-10 19:41] TsvikaKuflik commented on #61
In fact, the data is there but there is a need to scroll down quite a bit to see it...

[2019-02-10 19:47] TsvikaKuflik opened #63 "there is no logout message"
When I press logout, there is no good bye message (any language)

[2019-02-11 01:25] ajwecker commented on #62
fixed

[2019-02-11 01:25] #62 closed

[2019-02-11 01:26] #61 closed

[2019-02-11 01:26] #60 closed

[2019-02-11 01:27] #59 closed

[2019-02-11 01:31] #52 closed

[2019-02-11 01:35] ajwecker commented on #34
Please check again

[2019-02-11 01:36] #25 closed

[2019-02-11 06:18] MosheLavee opened #64 "Manuscript page is still not not presented"
Using chorme the manuscript page is still not presented. @drore @ajwecker

[2019-02-11 06:19] MosheLavee commented on #63
@drore problem still exist.

[2019-02-11 06:35] dstoekl commented on #58
on opening in train this was my first line, bug still appears. I will keep window open if needed for error tracing.
![image](https://user-images.githubusercontent.com/39535215/52548731-97d04600-2dcf-11e9-9f5f-3cbf6e411ab3.png)

[2019-02-11 06:42] dstoekl commented on #58
I pressed ctrl shift f and e and the image is fine now

[2019-02-11 07:01] MosheLavee commented on #64
Now it is there! Yey.

[2019-02-11 07:07] dstoekl commented on #64
very very small on this side of the mediterranean

[2019-02-11 07:08] dstoekl commented on #64
now it works

[2019-02-11 07:11] dstoekl commented on #64
sometimes, every third image or so, the page is still tiny tiny

[2019-02-11 07:22] dstoekl commented on #54
I am still very much in favor of switching the places for the "skip" and "done" buttons in English and French so that the "done" button comes at the end of the line. Reasons are
1. The correction work is in Hebrew and the eye and often the mouse are on the left side of the panel.
(Less important 2. Most errors are at end of line in Geneva due to binarization)
3. makes switching between Hebrew and

[2019-02-11 07:53] avigailohali commented on #36
Page corrected.

[2019-02-11 07:56] dstoekl commented on #36
good morning. this page?
https://github.com/ajwecker/TS1218/blob/master/TS1218/WebContent/WEB-INF/views/parts/FR/transcribe/marked.jspf

[2019-02-11 08:23] avigailohali commented on #36
Yes.

Le lun. 11 févr. 2019 à 08:56, dstoekl <notifications@github.com> a écrit :

[2019-02-11 08:27] dstoekl commented on #36
github does not show any change to it. last change was 17h ago by Alan.

[2019-02-11 08:33] avigailohali commented on #36
I just saw that. I really don't understand. Found the page in french and
correcting it.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Le lun. 11 févr.

[2019-02-11 08:44] avigailohali commented on #36
Seems fine now.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Le lun. 11 févr. 2019 à 09:32, Avigail Ohali <avigail.ohali@gmail.com> a
écrit :

[2019-02-11 09:12] dstoekl commented on #36
super. merci beaucoup.

[2019-02-11 09:13] ajwecker opened #65 "[HIGH] Content for partners in all three languages is missing"

[2019-02-11 09:15] ajwecker commented on #65
Who will update files (all 3 languages)
I can do build

[2019-02-11 09:17] dstoekl commented on #65
text exists. Moshe is reviewing my Heb translation.

[2019-02-11 09:17] #36 closed

[2019-02-11 09:28] MosheLavee opened #66 "Deletion opens with an extra space - for next release"
When marking a word and than clicking deletion it adds an extra space to after the marked word.
Clearly can wait to the next release.

[2019-02-11 10:15] dstoekl commented on #58
i have done many other lines in the train and they were all fine.

[2019-02-11 10:47] MosheLavee commented on #54
I agree.

[2019-02-11 10:52] ajwecker commented on #54
Will do

On Mon, Feb 11, 2019, 12:47 PM MosheLavee <notifications@github.com wrote:

[2019-02-11 11:09] dstoekl opened #67 "[high] please create automatic forward"
please create asap a page at https://tikkoun-sofrim.haifa.ac.il/ that automatically sends the user to the page on ts1218 so that we can send around only the short link, which is still very difficult and long but easier to explain.

[2019-02-11 12:09] uschor commented on #67
Done.
Added the following lines in /etc/apache2/apache2.conf and restarted Apache HTTPd:
ProxyPass "/" "http://localhost:8080/TS1218/"
ProxyPassReverse "/" "http://localhost:8080/TS1218/"

[2019-02-11 12:10] uschor commented on #67
You can access chapter pages like so: https://tikkoun-sofrim.haifa.ac.il/?ntn=154

[2019-02-11 12:11] ajwecker commented on #67
how can I access a specific page line?

On Mon, Feb 11, 2019, 2:10 PM uschor <notifications@github.com wrote:

[2019-02-11 12:14] MosheLavee opened #68 "Bounding box not seen in low lines"
When the line assigned is in the low parts of the page the user cannot see the line assigned on the page, including the bounding box.
THIS IS IMPORTANT BUT WE CAN DO WITHOUT IT FOR THE COMING RELEASE.

![image](https://user-images.githubusercontent.com/6770031/52562446-3926be80-2e07-11e9-8a16-74f0157f5dd2.png)

[2019-02-11 12:47] MosheLavee opened #69 "Safari and Microsoft explorer does not work"
Just got a message from a user that he cannot open the project on Safari. Same on explorer in my laptop...

[2019-02-11 15:01] MosheLavee commented on #67
http://tikkoun-sofrim.haifa.ac.il/TS1218/?m=Geneva_146&p=490&l=7

[2019-02-11 15:09] ajwecker commented on #67
Uri done

[2019-02-11 16:00] ajwecker commented on #34
Maybe after next deployment

[2019-02-11 17:30] uschor commented on #67
As usual it's just a proxy definition. e.g.:
https://tikkoun-sofrim.haifa.ac.il/TS1218/TranscribeServlet

[2019-02-11 18:12] dstoekl commented on #65
Moshe have you been able to advance on this?

[2019-02-11 18:18] dstoekl commented on #67
great. it works without https:// but it does not (from Paris) with the prefix https://

[2019-02-11 19:02] MosheLavee opened #70 "Security issues"
What is the state of the security issues Alan mentioned today ? were they done.
1. בתור התחלה, תאבטחו את השרת ושלפחות ה login יהיה ב HTTPS ולא ב HTTP.
feed back I got from a user -
![image](https://user-images.githubusercontent.com/6770031/52586409-1e247080-2e40-11e9-88a6-9cf72dda8769.png)

[2019-02-11 19:16] MosheLavee commented on #65
I already uploaded the Hebrew content without URLs.
Please upload the French / English content with the URLs.
You can see the paragraph I wrote about Haifa in the file

[2019-02-11 19:22] ajwecker commented on #70
https this Uri and I think was done
for register and addtransaction. I used prepared statement. Only think left
is protecting input fields from bad html
I will do later as my wife car battery died

On Mon, Feb 11, 2019, 9:02 PM MosheLavee <notifications@github.com wrote:

[2019-02-11 22:42] dstoekl commented on #65
added the paragraphs on EPHE, PSL, Scripta and CHArt in this order.
Is there already an English  / French version of the text of U Haifa?
Do you agree to put the French institutions before the Israeli ones, the latter having the promotion advantage of the URL?

[2019-02-11 23:09] dstoekl commented on #70
if I am not mistaken this is the logical answer if you dont use the prefix https://....
not our fault.

[2019-02-11 23:22] ajwecker commented on #65
I redid the English of eLijah lab
also some formatting.
I believe this applies to Frenc version as well

On Tue, Feb 12, 2019, 12:42 AM dstoekl <notifications@github.com wrote:

[2019-02-12 06:36] veredrk commented on #65
I suggest putting one french first - the one best defines you, then eLijah
Lab, then other french and israeli institutions.
agreed?

‫בתאריך יום ג׳, 12 בפבר׳ 2019 ב-0:42 מאת ‪dstoekl‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-12 06:58] veredrk commented on #65
titles missing for the Hebrew (institutions names)

[2019-02-12 10:14] MosheLavee commented on #65
@dstoekl as for the order of institutions - let elijah lab be first in Hebrew, French institutions first in French..
@veredrk can you add the titles in the html?

[2019-02-12 10:16] dstoekl commented on #65
Just back from the train. II think it would be fairer to list the EPHE firsts also in Hebrew due to the URL with haifa in it anyhow.

[2019-02-12 10:20] dstoekl commented on #67
@urischor
if I enter tikkoun-sofrim.haifa.ac.il in firefox, https:// is automatically prefixed and all I see is an empty page.
Can this be corrected somehow? Yesterday when writing the URL to my students it was a mess.

![image](https://user-images.githubusercontent.com/39535215/52628524-291ae780-2eb8-11e9-981a-87d9a85c3465.png)

[2019-02-12 10:21] dstoekl commented on #65
Vered's suggestions seems a good idea to me.

[2019-02-12 10:23] dstoekl commented on #58
This is what I see now upon opening first page
![Uploading image.png…]()

[2019-02-12 10:29] dstoekl commented on #58
![image](https://user-images.githubusercontent.com/39535215/52628813-b2cab500-2eb8-11e9-9d59-875ddef468b2.png)

[2019-02-12 10:31] ajwecker commented on #65
in the french Elijah not even listed :-)

On Tue, Feb 12, 2019, 12:21 PM dstoekl <notifications@github.com wrote:

[2019-02-12 10:32] ajwecker commented on #65
but seriously we need to freeze !

On Tue, Feb 12, 2019, 12:21 PM dstoekl <notifications@github.com wrote:

[2019-02-12 10:33] dstoekl commented on #63
In English farewell message please move the exclamation point to the end.

[2019-02-12 10:42] veredrk commented on #65
I'll fix it now - He and En.
Daniel, which one  do you want first?

‫בתאריך יום ג׳, 12 בפבר׳ 2019 ב-12:32 מאת ‪ajwecker‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-12 10:44] dstoekl commented on #65
Lets do EPHE, eLijah, NLI and then PSL, Scripta, CHArt

[2019-02-12 11:27] veredrk commented on #65
Daniel, can you send me the Fr for elijah lab?

‫בתאריך יום ג׳, 12 בפבר׳ 2019 ב-12:44 מאת ‪dstoekl‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-12 11:29] dstoekl commented on #65
It is already in the corresponding file. Please do not work on the FR file because I am working on it right now.

[2019-02-12 11:49] veredrk commented on #65
so you'll add the URL for all institutions in the FR?

‫בתאריך יום ג׳, 12 בפבר׳ 2019 ב-13:29 מאת ‪dstoekl‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-12 11:50] ajwecker commented on #65
there is an extra /div & /p in the partners file

On Tue, Feb 12, 2019, 1:29 PM dstoekl <notifications@github.com wrote:

[2019-02-12 12:05] veredrk commented on #65
I'm done with the content and URLs in the partners He and En files, please
fix the extra /divs.
we want the headers to be in a separate line, and with some space beween
each insitution.

‫בתאריך יום ג׳, 12 בפבר׳ 2019 ב-13:50 מאת ‪ajwecker‬‏ <‪
notifications@github.com‬‏>:‬

[2019-02-12 12:13] dstoekl commented on #65
which of the partners file contains extra /div andor /p, Alan?
French now with hyperlinks.
But we are still lacking the text for the NLI which is on the way.

[2019-02-12 13:20] dstoekl commented on #65
@ajwecker
could you please push the current versions of the partner files so that I could check the layout?

[2019-02-12 13:55] dstoekl commented on #69
Safari problem (screen 16/9).  Safari is VERY important. Is this only a resolution issue or a deeper one? What can be done?
![image](https://user-images.githubusercontent.com/39535215/52640157-1e6f4b00-2ed6-11e9-851e-e48ed10a63f3.png)

[2019-02-12 14:37] dstoekl commented on #69
Indeed, on my ipad I can open the site. Excruciatingly slow (maybe due to connection, but we talk about 15 min or so). Most importantly: The essential button is invisible. The images of page and line are not loaded but covered by the logos. There should be a routine to render the logos invisible after 2 or 5 seconds  when the screen is small.

[2019-02-12 16:07] MosheLavee commented on #69
@TsvikaKuflik @drore @ajwecker I guess we should not touch this now, since we should be now on the "feature freeze state".
We might try to do a round of such fixes without deploying and upload a new version in a week or so.

[2019-02-12 16:19] dstoekl commented on #69
I consider this to be the most important bug to solve. In France 20% of all users use Safari, it is the second after Chrome. I assume that many many users go to 929 via their ipads or cellphones. In France, Mac is extremely widespread. http://gs.statcounter.com/browser-market-share/all/france

[2019-02-12 16:20] dstoekl commented on #69
In Israel it is 10% in the US even 30%

[2019-02-12 17:43] ajwecker opened #71 "info area if scrolled doesn't reset when pick new tab"
Pick Alphabet scroll down, now pick special characters you are in the middle

[2019-02-12 17:44] ajwecker opened #72 "Alphabet tab content cut off and no horizontal scroll to see the rest of it"

[2019-02-12 17:56] dstoekl commented on #72
there is a div displaying at the top which is probably the reason

[2019-02-12 18:01] dstoekl commented on #72
there was a < missing. corrected

[2019-02-12 18:03] ajwecker commented on #72
doesn't solve problem

On Tue, Feb 12, 2019, 8:01 PM dstoekl <notifications@github.com wrote:

[2019-02-12 18:13] dstoekl commented on #72
please recheck. another div was missing.

[2019-02-12 18:15] ajwecker opened #73 "No abs.jspf for English it is just a copy of Hebrew Version"
EN/abc.jspf

[2019-02-12 18:18] dstoekl commented on #73
please roll it back. I have no idea how it happened but I must have made a wrong action.

[2019-02-12 18:20] ajwecker commented on #73
I don't know from when.
It is prior to when I started tagging versions

On Tue, Feb 12, 2019, 8:18 PM dstoekl <notifications@github.com wrote:

[2019-02-12 18:21] dstoekl commented on #73
ok. so at least it wasnt me. let me check how far we have to go back.

[2019-02-12 18:26] dstoekl commented on #73
very long very long. dunno what happend. will try to recreate on the model of the French

[2019-02-12 18:27] dstoekl commented on #73
Hey you just switched the French version to the Hebrew. Please go back

[2019-02-12 18:31] ajwecker commented on #73
No it is okay there are two lines of Hebrew at the beginning

On Tue, Feb 12, 2019, 8:27 PM dstoekl <notifications@github.com wrote:

[2019-02-12 19:18] uschor commented on #67
I think it's cached (probably on a proxy somewhere in between).
Can you try again in private window? It works for me on FF.

[2019-02-12 19:20] dstoekl commented on #67
yes it works on private window. so I just have to empty the cache?

[2019-02-12 19:48] urischor commented on #67
I guess so. It will go by itself eventually.

On Tue, Feb 12, 2019, 14:20 dstoekl <notifications@github.com> wrote:

[2019-02-13 08:06] dstoekl opened #74 "ipads and smartphones"
We need to start to conceptualize the adaption of the website for smartphones and ipads. I suggest to focus only on the image of the manuscript line and its transcription with the buttons below.

[2019-02-13 08:29] #73 closed

[2019-02-13 08:29] ajwecker commented on #72
fixed

[2019-02-13 08:29] #72 closed

[2019-02-13 08:31] #67 closed

[2019-02-13 08:31] #65 closed

[2019-02-13 08:32] #64 closed

[2019-02-13 08:33] #63 closed

[2019-02-13 08:33] ajwecker commented on #57
Uri fixed

[2019-02-13 08:33] #57 closed

[2019-02-13 08:34] #55 closed

[2019-02-13 08:35] #51 closed

[2019-02-13 08:36] #49 closed

[2019-02-13 08:36] #45 closed

[2019-02-13 08:38] #18 closed

[2019-02-13 08:38] #27 closed

[2019-02-13 08:39] #21 closed

[2019-02-13 08:40] #17 closed

[2019-02-13 08:40] #8 closed

[2019-02-13 08:40] ajwecker commented on #8
fixed by Uri

[2019-02-13 08:41] #6 closed

[2019-02-13 09:27] dstoekl commented on #58
929 just sent me here
![image](https://user-images.githubusercontent.com/39535215/52700898-46fc5100-2f79-11e9-879d-11193cf404f7.png)
and two lines or so later again (did not pay attention what happened in the meantime, maybe yes, maybe no)
![image](https://user-images.githubusercontent.com/39535215/52701046-993d7200-2f79-11e9-97a0-4986c999232f.png)
then a couple of lines ok
then again
![image](htt

[2019-02-13 09:30] dstoekl commented on #58
also on first line of next page. usually the IIIF page server first serves the right bottom edge and then chuck zooms to current pic
![image](https://user-images.githubusercontent.com/39535215/52701306-37c9d300-2f7a-11e9-9ff1-b49a2bef4b3d.png)

[2019-02-13 11:57] ajwecker commented on #58
don't  think it is an IIIF bug but leaflet

On Tue, Feb 12, 2019, 12:29 PM dstoekl <notifications@github.com wrote:

[2019-02-14 06:36] MosheLavee commented on #70
@ajwecker @dstoekl @drore @TsvikaKuflik @urischor
Hi - people are saying that we must do that if anyone put http it would automatically changed to https.
There are wonderful resoponses on Fascebook but this specific issue is highly urgent!

[2019-02-15 07:48] MosheLavee opened #75 "Text ling jumping above in Edge"
When using the new microsoft Edge browser, as soon as the user click inside the text line, it jumps up a few pixels and some important elements at the top of letters cannot be seen.

NOT FOR THE FIRST ROUND OF FIXES.

[2019-02-15 07:53] MosheLavee opened #76 "security pw hashed at db"
@ajwecker @urischor

[2019-02-15 07:55] MosheLavee opened #77 "shomer user in DB"
@urischor @ajwecker

[2019-02-15 07:56] MosheLavee commented on #70
@urischor assigned to you.

[2019-02-15 07:57] MosheLavee opened #78 "Add NLI logo"
don't forget hover over logo + Url like in other logos

[2019-02-15 07:57] MosheLavee commented on #78
@drore @ajwecker @urischor

[2019-02-15 07:59] MosheLavee opened #79 "Backup DB"
@TsvikaKuflik will check with Yaron. Should be performed at least few times in a day.

[2019-02-15 08:00] MosheLavee opened #80 "apply new segmentation"
Use new segmentation: Geneva_146_all_data_for_Alan05.txt (@ajwecker ).
aimed at VISUAL enlarging the bounding box, to cover the end of the line.

[2019-02-15 10:20] MosheLavee opened #81 "Enter gives new line?"
A user complaint: I clicked enter instead of space (by mistake), and got new line.
1) How can a user return to the former line?
2) This should not happen, anyway.

[2019-02-15 11:10] ajwecker commented on #81
this is fixed in next version where autofocus is on input line not button

On Fri, Feb 15, 2019, 12:20 PM MosheLavee <notifications@github.com wrote:

[2019-02-15 11:21] ajwecker commented on #78
Please make all logos  with transparent background.

On Fri, Feb 15, 2019, 9:57 AM MosheLavee <notifications@github.com wrote:

[2019-02-15 11:24] dstoekl commented on #78
which one hasnt? only NLI?

[2019-02-15 11:24] dstoekl commented on #78
here is a link for NLI transparent

http://web.nli.org.il/_layouts/15/Nli.PL.HomePage/assets/images/logo.png

[2019-02-15 11:29] ajwecker commented on #78
from left to right only first 4 are transparent

On Fri, Feb 15, 2019, 1:24 PM dstoekl <notifications@github.com wrote:

[2019-02-15 11:34] MosheLavee opened #82 "logout Hebrew mistake"
A user comment:
הגהה קלה לתוכנת ההגהה...
כשעושים לוג-אאוט יש תודה על העזרה בפינוח של הטקסט - במקום פיענוח...
@drore @ajwecker @urischor

[2019-02-15 11:35] dstoekl commented on #78
I cant find one for the French Ministry of Higher Education. The rest is from Israel.

[2019-02-15 11:36] dstoekl commented on #82
It should have said קינוח 😊

[2019-02-15 11:38] ajwecker commented on #78
using paint Avigail or someone else can change png to have transparent
background

On Fri, Feb 15, 2019, 1:35 PM dstoekl <notifications@github.com wrote:

[2019-02-15 11:41] dstoekl commented on #78
ok. will do for French MENESR. Will choose a broader one to make it better visible, ok?

[2019-02-15 11:41] MosheLavee opened #83 "Sharing a specific line"
Users begun sharing comments about specific lines, but the mechnism for sharing specific lines is not yet there.
The format we are using ikkoun-sofrim.haifa.ac.il/TS1218/?m=Geneva_146&p=490&l=7
Is only functioning to send a user to a line - but not to enable the sharing of a line.

FOR NEXT RELEASE - NOT FOR TOMORROW.

[2019-02-15 12:04] dstoekl commented on #78
updated for msles.png now not jpg!

[2019-02-15 12:04] MosheLavee opened #84 "Hover over eLijah-Lab is misspelled"
Should be as in the title here: eLijah-Lab

[2019-02-15 12:27] ajwecker commented on #83
What do you mean by sharing? Cooperative work see Together.js

On Fri, Feb 15, 2019 at 1:41 PM MosheLavee <notifications@github.com> wrote:

--
*Alan J. Wecker,* PhD.(U of Haifa), Dottore di Ricerca (U of Trento)
*Postdoc, Information Systems, Education  Departments, University of Haifa,
Israel*
Senior ACM Member

[2019-02-15 13:49] ajwecker commented on #76
fixed, needs to be integrated in new db

On Fri, Feb 15, 2019 at 9:53 AM MosheLavee <notifications@github.com> wrote:

--
*Alan J. Wecker,* PhD.(U of Haifa), Dottore di Ricerca (U of Trento)
*Postdoc, Information Systems, Education  Departments, University of Haifa,
Israel*
Senior ACM Member

[2019-02-16 16:05] TsvikaKuflik opened #85 "Inability to duplicate pecial characters"
// appears twice in the text, but I could enter it only once
![image](https://user-images.githubusercontent.com/47208723/52902139-5e576a80-3215-11e9-9609-783a27834a14.png)

[2019-02-16 16:06] TsvikaKuflik commented on #85
After adding a space and another special character, I was able to enter it (???)

[2019-02-16 16:09] dstoekl commented on #85
interesting. in any case you can just type // on the keyboard.

[2019-02-16 16:13] TsvikaKuflik commented on #85
Managed to get it to work, not sure it is a problem.

Tsvika

Tsvi Kuflik, PhD.

 Professor of Information Systems

  Co-chair of the Digital Humanities BSc program,

  Information Systems department,

  The University of Haifa

  Email: tsvikak@is.haifa.ac.il <mailto:tsvikak@is.haifa.ac.il>

  Home page:  <https://sites.hevra.haifa.ac.il/tsvikak> https://sites.hevra.haifa.ac.il/tsvikak

  Tel: +9

[2019-02-16 17:15] ajwecker commented on #85
it always adds to end of line since that was specification.
sometimes letter added can be off screen

On Sat, Feb 16, 2019, 6:13 PM TsvikaKuflik <notifications@github.com wrote:

[2019-02-16 18:26] dstoekl opened #86 "New Website"
I have problems with the following aspects in the new website, the rest is very nice.
1. Both drop down menus hide important data too much. IF the one for the languages stays, please switch to national flags, otherwise a Frenchman might have problems to change language.
2. The banner on the bottom does not make sense in my eyes. Why should this change? If possible I would advocate that the logos a

[2019-02-17 09:58] veredrk commented on #84
where in the code can I find this?

[2019-02-17 11:09] MosheLavee opened #87 "I forgot my passport feature"
@ajwecker We get user complaints about the lack of such a feature.
Can you add it ?
Alternatively, maybe we should simply install a package that already does that. I guess this will also prevent problems such as seeing the passwords through Shomer or any other manipulation on our DB.
@drore @TsvikaKuflik @dstoekl Do you think this is necessary and feasible for the fixes done now - or should it wai

[2019-02-17 11:12] ajwecker commented on #87
i already have a fix for not seeing passwords.
regarding reset need to wait till we install outside package

On Sun, Feb 17, 2019, 1:09 PM MosheLavee <notifications@github.com> wrote:

[2019-02-17 17:54] MosheLavee opened #88 "mistake in Hebrew Hover over line filler"
instead of ימין should be שמאל
@drore
More important - we need a procedure so that such issue will be fixed by me or Vered without bothering your.

[2019-02-19 12:38] TsvikaKuflik opened #89 "Mismatch between the image and the transcription(?)"
![image](https://user-images.githubusercontent.com/47208723/53015504-f17de380-3453-11e9-898e-b53259b0f8b7.png)

[2019-02-19 12:39] TsvikaKuflik opened #90 "and a bit of a mess in lines segmentation"
![image](https://user-images.githubusercontent.com/47208723/53015628-2be78080-3454-11e9-917c-982e530edb9a.png)

[2019-02-19 12:41] TsvikaKuflik opened #91 "It seems that the line segmentation of Geneva_146 - Page 45 / 590, Line 12 / 20 is off"

[2019-02-19 12:43] TsvikaKuflik commented on #91
Not that the segmentation is off but the alignment between transcription and segmentation is 1 line off (in addition to the comment about some mismatch)

[2019-02-19 13:03] dstoekl commented on #91
perhaps the mismatch caused the offset.

[2019-02-19 13:04] TsvikaKuflik commented on #91
Indeed

Tsvika

Tsvi Kuflik, PhD.

 Professor of Information Systems

  Co-chair of the Digital Humanities BSc program,

  Information Systems department,

  The University of Haifa

  Email: tsvikak@is.haifa.ac.il <mailto:tsvikak@is.haifa.ac.il>

  Home page:  <https://sites.hevra.haifa.ac.il/tsvikak> https://sites.hevra.haifa.ac.il/tsvikak

  Tel: +972 4 8288511

  Fax: +972 4 8288283

From: dst

[2019-02-20 13:22] dstoekl commented on #74
done (except safari)

[2019-02-20 13:22] #74 closed

[2019-02-20 13:25] dstoekl commented on #58
In the new version, the leaflet very often shows only the low quarter right part of the page. I think this is because the line coordinates are not transmitted and leaflet is set to display coordinate 0,0, which is right bottom corner. No area is colored if one moves the image.

[2019-02-21 04:31] TsvikaKuflik opened #92 "Firefox problem"
When using Firefox, after login, th epage image appears partially and without the transcribed line highlighted
![image](https://user-images.githubusercontent.com/47208723/53143727-f81a7100-35a1-11e9-8048-ea9991fba192.png)
after dragging the page it still does not appear
![image](https://user-images.githubusercontent.com/47208723/53143787-3dd73980-35a2-11e9-857d-a5df807e6adb.png)

[2019-02-21 07:38] dstoekl commented on #92
see issue 58

[2019-02-21 07:38] #92 closed

[2019-02-21 07:39] dstoekl commented on #79
So far I have done backups with a simple manual sql dump. Have you installed any automatic system?

[2019-02-21 07:40] #82 closed

[2019-02-21 07:41] #77 closed

[2019-02-21 07:41] dstoekl commented on #58
especially on firefox

[2019-02-21 08:02] TsvikaKuflik commented on #79
Yes,There is backup mechnism.Coordinated by UriTsvika on mobileבתאריך 21 בפבר׳ 2019 9:39,‏ dstoekl <notifications@github.com> כתב:So far I have done backups with a simple manual sql dump. Have you installed any automatic system?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-21 19:45] #5 closed

[2019-02-21 19:47] ajwecker commented on #84
Should we fix this in footer.jspf? and footer2.jspf

[2019-02-21 20:16] dstoekl commented on #84
fixed

[2019-02-21 20:16] #84 closed

[2019-02-26 13:58] dstoekl commented on #58
on firefox the leaflet does not work anymore at all. Any chance to get this repaired any time soon?

[2019-02-27 15:40] uschor opened #93 "change "סיימתי" to "תיקנתי""
proposed by Avner Pinchover. Also hints to project name

[2019-02-28 09:55] Fraymele opened #94 "Website switching language"
The website sometimes switch between language versions.
From the French version, if I disconnect it takes me to the Hebrew "bye bye" page. If I try to reconnect, it takes me to the English log in page. When I do reconnect, here am I on the Hebrew version again.

[2019-02-28 20:24] MosheLavee opened #95 "apostrophe in the wrong place in Hebrew tutorial"
Please see below: the apostrophe jumped to a wrong place in the line:
![image](https://user-images.githubusercontent.com/6770031/53596054-8d6fc380-3ba7-11e9-8c30-d56fd9a2b6d0.png)

[2019-02-28 22:01] dstoekl commented on #95
Alan said put them in a span tag and give it an attribute of dir="rtl" .
<span dir="rtl">אבגדש'</span>
Funny enough they show correctly on my computer.
![image](https://user-images.githubusercontent.com/39535215/53601617-c0688600-3bac-11e9-8418-6423adb9f31c.png)

[2019-03-05 14:03] MosheLavee opened #96 "A running issue - fixes needs in tutorials"
No written tutorial for Geneva marginal additions .
See user complains here.
https://www.facebook.com/groups/340705306786079/348965639293379/?comment_id=349380072585269&notif_id=1551709484484818&notif_t=group_comment_follow

[2019-03-06 14:05] MosheLavee commented on #96
Another issue - the content page about the Midrash was lost ...